/* external style sheet */

/* Style the links as buttons */
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(255, 137, 3); /* Button background color */
    color: rgb(5, 5, 5); /* Text color */
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

    /* Button animation */
    .button:hover {
        animation: wiggle 2s linear infinite;
    }
        


      /* button-frames */
      @keyframes wiggle {
        0%, 7% {
          transform: rotateZ(0);
        }
        15% {
          transform: rotateZ(-15deg);
        }
        20% {
          transform: rotateZ(10deg);
        }
        25% {
          transform: rotateZ(-10deg);
        }
        30% {
          transform: rotateZ(6deg);
        }
        35% {
          transform: rotateZ(-4deg);
        }
        40%, 100% {
          transform: rotateZ(0);
        }
      }
      
      
body {
background-color: rgb(255, 137, 3);
}

/* ID one unique element */
#body {
    background-color: black;
}

/* class to target similar items */
.text {
  color: rgb(255, 137, 3);
}
h1 {
    color: hsl(255, 137, 3);
}

 /* Bubble letters styles */
 .bubble {
    font-family: Arial, sans-serif;
    font-size: 48px;
    background: linear-gradient(45deg, hsl(39, 100%, 46%), #e40b1d);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    display: inline;
  }

/* Style the header and navigation links */

nav {
    background-color: rgb(0, 0, 0);
}

header {
    background-color: black;
    color: rgb(0, 0, 0);

}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 15px;
}

nav a {
    color: rgb(255, 137, 3);
    text-decoration: none;
}

/* Center the images upper*/
.photos {
   display: inline-flex;
   margin: auto;
   align-items: center;
   justify-content: center;
   width: 100%;
   gap: 200px;

}

/* Center lower images */
.photos-lower {
    display: inline-flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    width: 98%;
    gap: 200px;   
}
/* Style the text section */
.text {
    padding: 20px;
    text-align: center;
}

/* Style the footer */
footer {
    background-color: black;
    padding: 10px 0;
    margin-top: 200px;
}



