/* external style sheet */

body {
background-color: rgb(255, 137, 3);
}

nav {
    border: 2px solid black;
}
nav {
    background-color: black;
}
/* ID one unique element */
#body {
    background-color: black;
}

/* class to target similar items */
.text {
  color: rgb(255, 137, 3);
}
h1 {
    color: hsl(255, 137, 3);
}

/* Style the header and navigation links */
header {
    background-color: #333;
    color: rgb(255, 137, 3);
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 15px;
}

nav a {
    color: rgb(255, 137, 3);
    text-decoration: none;
}

/* Center the images upper*/
.photos {
   display: inline-flex;
   margin: auto;
   align-items: center;
   justify-content: center;
   width: 100%;
   gap: 200px;

}

/* Style the text section */
.text {
    padding: 20px;
    text-align: center;
}

/* Style the footer */
footer {
    background-color: black;
    padding: 10px 0;
    margin-top: 200px;
}
