/* external style sheet */

body {
background-color: rgb(255, 137, 3);
}

nav {
    border: 2px solid black;
}
nav {
    background-color: black;
}
/* ID one unique element */
#body {
    background-color: black;
}

/* class to target similar items */
.text {
  color: rgb(255, 137, 3);
}
h1 {
    color: hsl(255, 137, 3);
}